footer {
	margin-top: 5%;
	margin-bottom: 3%;

	ul,
	p {
		text-align: center;
	}

	li,
	a,
	em,
	p {
		font-size: 0.875rem;
		color: lighten($black, 30%);

		@media only screen and (max-width: $breakpoint-small) {
			font-size: 0.75rem;
		}
	}

	li {
		display: inline-block;
		margin-right: 5%;
	}
}
