@keyframes mymove {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

form#searchForPhotos {
	padding-top: 3%;

	label {
		display: block;
		padding-bottom: 2%;
	}

	select,
	input,
	label,
	button {
		font-size: 1.125rem;
		width: 100%;
	}

	select,
	input {
		height: 35px;
	}

	button {
		background-color: $black;
		color: white;
		border: none;
		padding: 15px;
		margin-top: 3.5%;

		#searchIcon,
		#loadIcon {
			vertical-align: middle;
		}

		#loadIcon {
			display: none;
			transform-origin: 50% 43%;
			animation: mymove 1.5s infinite;
			transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
		}
	}

	span {
		color: $red;
	}
}

.flatpickr-month {
	height: 35px;
}
