form#searchForPhotos {
	padding-top: 3%;

	label {
		display: block;
		padding-bottom: 2%;
	}

	select,
	input,
	label,
	button {
		font-size: 1.125rem;
		width: 100%;
	}

	select,
	input {
		height: 35px;
	}

	button {
		background-color: $black;
		color: white;
		border: none;
		padding: 15px 15px;
		margin-top: 3.5%;
	}

	span {
		color: $red;
	}
}
