#blankState {
	position: relative;
	background-color: lighten($black, 85%);
	padding: 10% 5%;
	margin-top: 3%;

	h2,
	p {
		margin: 0;
	}

	span {
		font-weight: bold;
		color: $lt-blue;
	}

	#errorMsg {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background-color: $red;
		color: white;

		span {
			color: white;
		}
	}
}

#photoTable {
	display: none;
	margin-top: 5%;

	th {
		color: white;
	}

	tr:nth-child(even) {
		background-color: lighten($black, 85%);
	}

	tr:nth-child(odd) {
		background-color: lighten($lt-blue, 60%);
	}

	thead tr:nth-child(1) {
		background-color: $black;
	}

	img {
		max-width: 100px;
		min-width: 100px;
		border: solid 3px white;
	}

	td {
		height: 100px;
		line-height: 100px;
	}
}
